themes {
  kaolindark {
    fg "#e4e4e8"
    bg "#18181B"
    red "#CD5C60"
    green "#6FB593"
    yellow "#DBAC66"
    blue "#91B9C7"
    magenta "#845A84"
    orange "#CF5C36"
    cyan "#4d9391"
    black "#222225"
    white "#e4e4e8"
  }
  kaolinlight {
    bg "#EDEEEB"
    fg "#353b3c"
    black "#353b3c"
    red "#e84c58"
    green "#13665F"
    yellow "#E36B3F"
    blue "#3B84CC"
    magenta "#a9779c"
    cyan "#6facb3"
    white "#C8CCC3"
    orange "#dbac66"
    black "#d1d4cd"
    white "#bebec4"
  }
}