* {
    all: initial;
    font-family: CaskaydiaMono Nerd Font;
    min-height: 0;
    font-size: 9pt;
    color: @fg;
}

button:hover {
    opacity: 0.5;
}

#workspaces {}

#workspaces button {
    min-width: 8px;
    border-radius: 99px;
    margin: 2px 4px;
    transition: opacity 0.2s;
}

#workspaces button:first-child,
#workspaces button:last-child {
    /* these are always empty in my niri config */
    opacity: 0.5;
}

#workspaces button.active {
    color: @fg;
    background: @fg;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#wireplumber,
#tray,
#clock {
    min-width: 12px;
    padding: 0px 4px;
}

#waybar {
    background: @bg;
    opacity: 0.9;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

.modules-center,
.modules-left,
.modules-right {
    background-color: @bg;
    color: black;
}

.modules-left {
    padding-left: 8px;
}

.modules-right {
    padding-right: 8px;
}

tooltip {
    padding: 2px;
    background: @bg;
}

tooltip label {
    padding: 2px;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#temperature.critical,
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

menu {
    background: @bg;
    padding: 4px;
    border-radius: 8px;
}

menuitem {
    margin: 2px 4px;
}

widget {}

#battery.charging {
    color: #008800;
}
