* {
  all: initial;
  font-family: CaskaydiaMono Nerd Font;
  min-height: 0;
  font-size: 16px;
  color: @fg;
}

button:hover {
opacity: 0.5;
}

#workspaces button {
  padding: 0 6px;
  border: 2px solid transparent;
  border-radius: 4px;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#wireplumber,
#tray,
#clock {
  min-width: 12px;
    padding: 4px 8px;
}

#workspaces button.active {
  color: @fg;
border-color: @fg;
}

.modules-center,
.modules-left,
.modules-right {
  background-color: @bg;
  color: black;
  padding: 3px 6px;
    border-radius: 4px;
    margin: 12px;
    padding: 8px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
