* {
  all: initial;
  font-family: CaskaydiaMono Nerd Font;
  min-height: 0;
  font-size: 16px;
  color: @fg;
}

button:hover {
opacity: 0.5;
}

#workspaces {
    padding: 0;
}
#workspaces button {
  min-width: 8px;
  border-radius: 99px;
    background: @fg;
    opacity: 0.3;
    margin: 4px;
    transition: opacity 0.2s;
}

#workspaces button:first-child,
#workspaces button:last-child {
    opacity: 0.1;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#wireplumber,
#tray,
#clock {
  min-width: 12px;
    padding: 4px 8px;
}

#workspaces button.active {
  color: @fg;
    background: @fg;
    opacity: 0.8;
}

.modules-center,
.modules-left,
.modules-right {
  background-color: @bg;
  color: black;
  padding: 3px 6px;
    border-radius: 4px;
    margin: 12px;
    padding: 8px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
