[submodule "core/dot-zsh/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "core/dot-zsh/zsh-z"]
	path = zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
