[Unit]
Description=Dynamic wallpaper based on color scheme
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/sh -c '\
  current=$(gsettings get org.gnome.desktop.interface color-scheme); \
  if [[ "$current" == *"dark"* ]]; then \
    bg="$HOME/Pictures/Wallpapers/a_mountain_with_snow_on_it.jpg"; \
  else \
    bg="$HOME/Pictures/Wallpapers/a_snowy_mountain_tops.jpg"; \
  fi; \
  swaybg -m fill -i "$bg"'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
