extends typescript

snippet rnfc
import React from 'react';

export const $1 = () => {
	return (
		$0
	)
}
endsnippet

snippet prejson "JSON.stringify" w
<pre>{JSON.stringify($0, null, 2)}</pre>
endsnippet
