extends javascript

snippet story "new storybook story"
import $1 from "./${1}";

export default {
	title: "${1}",
	component: ${1}
}

export const Default = () => (
	<div className="">
		<${1}>
			$0
		</${1}>
	</div>
)
endsnippet
