snippet cb "callback"
function(${2:})
	${VISUAL:-- body...}
end
endsnippet

snippet fn "function"
function ${1:fname}(${2:args})
	${3:-- body...}
end
endsnippet

snippet req "require"
require('${1:module}')
endsnippet
