extends html

snippet block
{% block ${1:blockname} %}
	${2:{{ parent() }}}
	$0
{% endlbock %}
endsnippet

snippet include
{% include "${1:filename}" %}
endsnippet

snippet embed
{% embed "${1:name}" ${2:with {${3:'foo':'bar'}}} %}
	$0
{% endembed %}
endsnippet
