// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction


screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

cursor {
    // xcursor-theme "breeze_cursor"
    // xcursor-size 16
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

input {
    workspace-auto-back-and-forth

    keyboard {
        xkb { 
            layout "eu";
            options "ctrl:nocaps,altwin:swap_lalt_lwin"
            // options "ctrl:nocaps"
        }
        
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.2
        // scroll-factor 0.1
        // accel-profile "flat"
        scroll-method "two-finger"
    }

    mouse {
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
    }

    trackpoint { }
}


// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 16
    // center-focused-column "on-overflow"
    always-center-single-column
    empty-workspace-above-first

    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 0.33333
        // fixed 1920
    }

    default-column-width { proportion 0.5; }
    // default-column-width {}
    focus-ring {
       width 0.5
       // active-color "#00ff0088"
       // inactive-color "red"
       urgent-color "#ff0000"
      active-gradient from="white" to="hsl(150 50% 50% / 90%)" angle=180
      // inactive-gradient from="#000000" to="#808080" angle=45 #relative-to="workspace-view"
    }

    border {
       // off
        width 6
        active-color "#0008"
        inactive-color "#0003"
        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        on
        softness 16
        spread 0
        offset x=8 y=16
        color "0008"
    }

    // struts {
    //     left 32
    //     right 32
    //     top 0
    //     bottom 0
    // }

    tab-indicator {
      place-within-column
      width 8
      gap 12
      gaps-between-tabs 24
      active-color "#7fc8ff"
      inactive-color "#000"
      corner-radius 8
      length total-proportion=0.666
      active-gradient from="hsl(190 100% 50% / 80%)" to="hsl(180 100% 50% / 80%)" angle=45 
      inactive-gradient from="hsl(330 10% 30% / 50%)" to="#808080" angle=45  in="oklch longer hue"
    }
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

switch-events {
    lid-close { spawn "notify-send" "The laptop lid is closed!"; }
    lid-open { spawn "notify-send" "The laptop lid is open!"; }
}

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // You can also put "off" into each individual animation to disable it.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    // Individual animations.

    workspace-switch {
        // off
        // spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {} 
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id=r#"dmenu"#
    default-column-width { proportion 0.33333; }
    open-floating true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"dmenu"#
    open-floating true
}

window-rule {
    match app-id=r#"column.sm$"#
    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id=r#"column.md$"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"column.lg$"#
    default-column-width { proportion 0.66667; }
}

window-rule {
    match app-id=r#"float.md$"#
    match app-id=r#"1Password$"#
    match app-id=r#"waypaper$"#
    open-floating true
    default-column-width { fixed 960; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id=r#"float.sm$"#
    match title=r#"Wayland Ouput Mirror for HDMI-A-1"#
    open-floating true
    default-column-width { fixed 600; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id=r#"float.lg$"#
    match app-id=r#"NautilusPreviewer"#
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 960; }
}

window-rule {
    match app-id=r#"pavucontrol$"#
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 480; }
}

window-rule {
    match app-id=r#"1Password$"#
    match app-id=r#"chrome-app.fastmail"#
    match title=r#"Discord$"#
    match title=r#"Cinny$"#
    match title=r#"WhatsApp Web$"#
    match title=r#"Microsoft Teams$"#

    // block out from all captures: 
    block-out-from "screen-capture"

    // block out from screenshare (visible in screenshots)
    // block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

binds {
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Return      repeat=false hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty" "-1"; }
    Mod+Space       repeat=false hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel" "--list-executables-in-path"; }
    Mod+D repeat=false hotkey-overlay-title="Edit Dotfiles" { spawn-sh "kitty -1 -d $DOTDIR nvim index"; }

    Mod+B           repeat=false hotkey-overlay-title="Focus or spawn Brave" { spawn-sh "niri-focus-or-spawn Brave"; }

    Mod+Mod5+C      repeat=false hotkey-overlay-title="Cliboard History" { spawn-sh "clipboard-history"; }
    Mod+Alt+C      repeat=false hotkey-overlay-title="Cliboard History" { spawn-sh "clipboard-history"; }

    Mod+Ctrl+Comma  repeat=false hotkey-overlay-title="Run Obsidian" { spawn "obsidian"; }
    Mod+Slash       repeat=false hotkey-overlay-title="1password" { spawn "1password"; }
    Mod+Backslash       repeat=false hotkey-overlay-title="1password" { spawn "1password"; }
    Mod+Semicolon   repeat=false { spawn-sh "kitten quick-access-terminal"; }

    Alt+Tab     repeat=false hotkey-overlay-title="Goto"  { spawn-sh "nox-menu niri-window-search"; }
    Mod+Ctrl+T  repeat=false hotkey-overlay-title="Teams"  { spawn-sh "niri-focus-or-spawn Teams"; }
    Mod+X       repeat=false hotkey-overlay-title="Nox"   { spawn "nox-menu"; }
    Mod+N       repeat=false hotkey-overlay-title="Notes" { spawn-sh "nox-menu notes"; }
    Mod+Shift+N repeat=false hotkey-overlay-title="Notes" { spawn-sh "niri-split vim ~/now"; }
    Mod+Ctrl+N repeat=false hotkey-overlay-title="Notes" { spawn-sh "nox-menu notes '!!'"; }

    Mod+E  repeat=false hotkey-overlay-title="Edit Project" { spawn-sh "tm-list-projects | fuzzel --dmenu | xargs kitty --single-instance -d "; }
    Mod+P       repeat=false { spawn-sh "niri msg action set-dynamic-cast-window"; }
    Mod+Shift+P repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }
    Mod+Y { spawn-sh "kitty -1 yazi"; }

    Mod+M { spawn-sh "niri msg action set-column-width 80%; niri msg action center-column"; }
    Mod+S { spawn "niri-split"; }
    Mod+Tab { focus-workspace-previous; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Grave { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+Shift+4 { screenshot; }
    Mod+Shift+5 { screenshot-screen; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }


    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--device=amdgpu_bl1" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--device=amdgpu_bl1" "set" "10%-"; }
    Mod+F8 allow-when-locked=true { spawn-sh "brightnessctl --device=amdgpu_bl1 set 10%"; }
    Mod+F9 allow-when-locked=true { spawn-sh "brightnessctl --device=amdgpu_bl1 set 50%"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H          { focus-column-left; }
    Mod+L          { focus-column-right; }
    Mod+K          { focus-window-or-workspace-up; }
    Mod+J          { focus-window-or-workspace-down; }

    Mod+Left       { focus-column-left; }
    Mod+Right      { focus-column-right; }
    Mod+Up         { focus-window-or-workspace-up; }
    Mod+Down       { focus-window-or-workspace-down; }

    // + Ctrl to move
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+K     { move-column-to-workspace-up; }
    Mod+Ctrl+J     { move-column-to-workspace-down; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-window-to-workspace 1; }
    Mod+Ctrl+2 { move-window-to-workspace 2; }
    Mod+Ctrl+3 { move-window-to-workspace 3; }
    Mod+Ctrl+4 { move-window-to-workspace 4; }
    Mod+Ctrl+5 { move-window-to-workspace 5; }
    Mod+Ctrl+6 { move-window-to-workspace 6; }
    Mod+Ctrl+7 { move-window-to-workspace 7; }
    Mod+Ctrl+8 { move-window-to-workspace 8; }
    Mod+Ctrl+9 { move-window-to-workspace 9; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    // Mod+Shift+P { power-off-monitors; }
}

output "eDP-2" {
    // off
    // mode "1920x1080@120.030"
    scale 1.25
    // scale 2
    // transform "90"
    position x=890 y=1440
    // variable-refresh-rate // on-demand=true
    // focus-at-startup
    // backdrop-color "#001100"
    //
    // hot-corners {
    //     // off
    //     top-left
    //     // top-right
    //     // bottom-left
    //     // bottom-right
    // }
    //
    // layout {
    //     // ...layout settings for eDP-1...
    // }

    // Custom modes. Caution: may damage your display.
    // mode custom=true "1920x1080@100"
    // modeline 173.00  1920 2048 2248 2576  1080 1083 1088 1120 "-hsync" "+vsync"
}

output "DP-5" {
    position x=0 y=0
}

output "Some Company CoolMonitor 1234" {
    // ...settings for CoolMonitor...
}
