* {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

window {
  margin: 0px;
  padding: 20px;
  background-color: #222;
}

#inner-box {
  margin: 0;
  border: none;
}

#outer-box {
  margin: 0;
  padding: 20px;
  border: solid 4px #333;
  border-radius: 10px;
  background-color: black;
}

#scroll {
  margin: 0;
  padding: 0;
  border: none;
  background-color: black;
}

#input {
  margin: 0;
  padding: 10px;
  border: none;
  background-color: black;
  color: cyan;
}

#input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: white;
}

#entry {
  background-color: black;
  border: 2px solid transparent;
  border-radius: 10px;
}

#entry:selected {
  outline: none;
  background: #333;
}

#entry:selected #text {
  color: cyan;
}

#entry image {
  -gtk-icon-transform: scale(0.7);
}
