.tab-position {
    border-radius:  4px;
    overflow: hidden;
    position: relative;
    transform: none !important;
}

div#tabs-tabbar-container {
    padding: 0 4px;
    margin: 0 4px;
    margin-bottom: 4px;
}

.tab-strip {
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
}

.tab-strip > span {
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
}

.tab-strip > span + span > * {
    margin-left: 4px;
}